html{
	background-color:rgb(181, 48, 90);
}

h1
{
	color: rgb(178, 207, 235);
	text-align:center;
	height: 40px;
	font-size: 1.6em;	
	text-decoration:underline yellow;
}

h2
{
	font-family:cursive;
	color:rgb(80,10,20);
	padding-left:15px;
}

body
{
    font-size: 100%;
	color:white;
	margin-left:8em;
	margin-right:8em;
	background-color: rgb(255,253,208);
	font-family:sans-serif;
	line-height:1.5em;
	font-size: 1.4em;
}
p ,nav{
	color:rgb(168, 126, 101);
	padding:0px 2px 0px 5px;
}


img 
{
	border: 0;
	width:230px;
	margin-left:374px;

}

blockquote{
	color:rgb(64, 194, 156);
}
blockquote:after {                                                       
  content: close-quote;
}

blockquote:before {                                     
  content: open-quote;
}

footer{
	text-align: center;
	background-color: bisque;
}